*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #008001;
  margin: 0px;
}

nav {
  background-color: #7f8000;
  width: 100%;
  height: 134px;
  border: 8px solid black;
}

.first_square {
  width: 176px;
  height: 176px;
  background-color: #fe0000;
  border: 6px solid;
  transform: rotate(45deg);
  margin-left: 200px;
  margin-top: 162px;
  display: inline-block;
}

.second_square {
  width: 176px;
  height: 176px;
  background-color: #fe0000;
  border: 6px solid;
  transform: rotate(45deg);
  margin-left: 32px;
}

.first_line {
  width: 124px;
  height: 12px;
  background-color: #0003f5;
  border: 4px solid black;
  margin-bottom: 35px;
}

.second_line {
  width: 124px;
  height: 12px;
  background-color: #0003f5;
  border: 4px solid black;
}

.shape_line {
  display: inline-block;
  margin-left: 180px;
  margin-bottom: 15px;
}

.ellipse {
  width: 108px;
  height: 96px;
  background-color: #008081;
  border-radius: 50%;
  border: 4px solid black;
}

.shape_ellipse {
  display: inline-block;
  margin-left: 35px;
}
